/*
*
*	@title: 	main.scss
* 	@project: 	accordion-ui
* 	@author:	pix8
**/

@import 'normalize';

$color__primary: 		#A7C55D;
$color__secondary: 		#EC008C;
$color__base: 			#888888;

@import 'styles.main';
@import 'ui.accordion';
@import 'app.theme';
