.ui__accordion {

	.ui__tab {
		position: relative;

		.ui__toggle {
			display: block;

			//DEVNOTE: redundant operation; if javascript was disabled these styles simply wouldn't get loaded
			//html:not(.client__no-js) & {
				cursor: pointer;
			//}
		}
	}

	.ui__pane {
		position: relative;

		//html:not(.client__no-js) & {
			height: 0;
			overflow: hidden;
		//}
	}
}

/*.ui__tab.state__active:not(.state__transition) {
	outline: 2px solid yellow;

	& + .ui__pane {
		//display: none;
	}
}*/

.ui__tab:not(.state__active):not(.state__transition) {
	& + .ui__pane {
		display: none;
	}
}

