.ui__accordion {

	.ui__tab {
		position: relative;

		.ui__toggle {
			display: block;
			cursor: pointer;
		}
	}

	.ui__pane {
		position: relative;
		overflow: hidden;
	}

	//.ui__tab:not(.state__active):not(.state__transition),
	.ui__tab:not([aria-expanded=true]):not([aria-selected=true]):not(.state__active):not(.state__transition) {
		& + .ui__pane,
		& + [aria-hidden=true] {
			height: 0;
			display: none;
		}
	}
}
